.footer {
  margin-top: 40px;
  margin: 2% 5%;
  bottom: 0px;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
  zoom: 1;
  width: 90%;
  color: #494969;
  position: relative;
  top: 43px;
}


.footer_cover {
  position: absolute;
  height: 40px;
  margin-top: 40px;
  margin-left: 5%;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
  zoom: 1;
  width: 100%;
  color: #494969;
}