.home_page {
  margin: auto;
  padding-bottom: 30px;
  margin-bottom: 100px;
}

.welcome_text {  
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 100px;
  box-shadow: -2px 0px 33px 0px rgba(0, 0, 0, 0.15);
  width: 80%;
}